# Google Analytics 4
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Google Ads
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18201494059
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL=_dGBCPv0mbkcEKuEk-dD

# Microsoft Clarity
NEXT_PUBLIC_CLARITY_ID=

# Meta Pixel (선택 사항)
NEXT_PUBLIC_FB_PIXEL_ID=

# API & Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_ENDPOINT=
